In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Salary_Data_multi.csv")

In [3]:
df

    YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391
29             10.5  38.0  121872

In [4]:
X = df[['YearsExperience','Age']]
y = df[['Salary']]

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [7]:
model.coef_

array([[6153.35330145, 1836.01359426]])

In [8]:
model.intercept_

array([-6661.98719881])

In [9]:
model.predict([[2,25]])

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[51545.0592606]])

In [10]:
model.predict([[1,25]])

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[45391.70595915]])

In [11]:
model.predict([[2,24]])

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[49709.04566634]])

In [12]:
model.predict([[0,0]])

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[-6661.98719881]])

# Model Evaluations

In [18]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [19]:
yp = model.predict(X)
yp

array([[ 38662.98691225],
       [ 40811.66436967],
       [ 42409.53774881],
       [ 46037.01847782],
       [ 47634.89185696],
       [ 53411.05004338],
       [ 54026.38537352],
       [ 55807.86011209],
       [ 55807.86011209],
       [ 59435.34084109],
       [ 61216.81557966],
       [ 62015.75226923],
       [ 62015.75226923],
       [ 62631.08759937],
       [ 66928.44251421],
       [ 69389.78383479],
       [ 72456.46808934],
       [ 75523.15234389],
       [ 81051.17791902],
       [ 83502.52684342],
       [ 90261.22307884],
       [ 92107.22906928],
       [ 98865.92530469],
       [102547.94488939],
       [107460.63513437],
       [111142.65471907],
       [116055.34496405],
       [118506.69388846],
       [124650.05479373],
       [127716.73904828]])

In [20]:
print(y.values)

[[ 39343]
 [ 46205]
 [ 37731]
 [ 43525]
 [ 39891]
 [ 56642]
 [ 60150]
 [ 54445]
 [ 64445]
 [ 57189]
 [ 63218]
 [ 55794]
 [ 56957]
 [ 57081]
 [ 61111]
 [ 67938]
 [ 66029]
 [ 83088]
 [ 81363]
 [ 93940]
 [ 91738]
 [ 98273]
 [101302]
 [113812]
 [109431]
 [105582]
 [116969]
 [112635]
 [122391]
 [121872]]

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("random_data.csv")

In [21]:
df

    c1  c2  c3      y
0    3   2   2  -0.40
1    2   6   8   1.60
2    9   6   4  -1.90
3    8   3   8  10.60
4    9   4   2  -1.40
5    8   8   5  -4.65
6    1   7   0 -14.90
7    3   0   5   8.85
8    1   4   8   5.10
9    0   6   2  -9.90
10   2   9   3 -13.15
11   5   5   7   3.35
12   9   4   7   7.35
13   2   6   8   1.60
14   6   7   9   3.35
15   6   5   5   0.35
16   7   7   3  -6.65
17   7   6   7   2.35
18   6   9   0 -16.40
19   4   0   8  14.60
20   4   3   2  -1.90
21   1   4   3  -3.65
22   6   6   5  -1.65
23   3   9   7  -5.65
24   6   5   8   5.60
25   9   1   3   6.35
26   3   2   6   6.60
27   2   5   9   5.35
28   6   3   1  -2.65
29   0   9   2 -15.90
30   1   7   9   0.85
31   3   4   2  -4.40
32   7   2   6   8.60
33   6   6   7   1.85
34   0   3   6   3.10
35   9   4   1  -3.15
36   6   7   9   3.35
37   4   8   7  -3.15
38   9   3   1  -1.15
39   9   9   5  -6.15
40   9   0   6  13.60
41   1   9   3 -13.65
42   4   3   9  10.35
43   1   0   4   6.10
44   0   3   8   6.60
45   9   7   9   4.85
46   6   0   6  12.10
47   1   0   3   4.35
48   1   3   6   3.60
49   5   2   8  11.10

In [22]:
X = df[['c1','c2','c3']]
y = df[['y']]

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [25]:
model.predict([[1,1,1]])

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[-1.15]])

In [26]:
model.predict([[1,2,3]])

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[0.35]])

In [27]:
from sklearn.metrics import mean_squared_error , mean_absolute_error ,r2_score

In [28]:
yp = model.predict(X)

In [29]:
yp

array([[ -0.4 ],
       [  1.6 ],
       [ -1.9 ],
       [ 10.6 ],
       [ -1.4 ],
       [ -4.65],
       [-14.9 ],
       [  8.85],
       [  5.1 ],
       [ -9.9 ],
       [-13.15],
       [  3.35],
       [  7.35],
       [  1.6 ],
       [  3.35],
       [  0.35],
       [ -6.65],
       [  2.35],
       [-16.4 ],
       [ 14.6 ],
       [ -1.9 ],
       [ -3.65],
       [ -1.65],
       [ -5.65],
       [  5.6 ],
       [  6.35],
       [  6.6 ],
       [  5.35],
       [ -2.65],
       [-15.9 ],
       [  0.85],
       [ -4.4 ],
       [  8.6 ],
       [  1.85],
       [  3.1 ],
       [ -3.15],
       [  3.35],
       [ -3.15],
       [ -1.15],
       [ -6.15],
       [ 13.6 ],
       [-13.65],
       [ 10.35],
       [  6.1 ],
       [  6.6 ],
       [  4.85],
       [ 12.1 ],
       [  4.35],
       [  3.6 ],
       [ 11.1 ]])

In [30]:
r2_score(y,yp)

1.0